:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
  
  /* set content highlight color and background */
  ::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  }
  
  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 100%;
  }


body {
    background-color:white;
}

header {
    width: 100%;
    display: block;
}

nav {
    display: inline-block;
    margin: 5px;
    height: 30px;
    padding: 15px;
    border: 5px solid rgb(48, 46, 46);
}

h1 {
    display: inline-block;
    color: turquoise;
    font-size: 30px;
    height: 30px;
    padding:15px;
    padding-left: 0px;
    border: 5px solid rgb(48, 46, 46);
    border-left: 0px;
    border-radius: 0px 7px 7px 0px;
    margin: 5px;
    margin-left: 0px;
    text-align: left;
}

ul {
    margin: 5px; 
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline-block;
    border: 3px solid rgb(48, 46, 46);
  }
  
li a {
    color:turquoise;
    text-align: center;
    text-decoration: none;
    padding: 0px 18px;
    border-bottom: 2px solid turquoise;
    /* text-decoration-thickness: 2px; */
  }
  p {
    margin: 10px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(21, 21, 100);;
  }

  
/* Controlling styling of header part */
.headerMenuNavigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: rgb(48, 46, 46);
    width: 100%;
}

.headerMenuNavigation section {
    display: flex;
    justify-content: space-between;
}

/* Adding CSS styling for my My Profile pic as avatar image */
.headerMenuNavigation section img {
    display: inline-block;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Controlling styling of header Image */
.headerImageBackGround {
    background-color: steelblue;
    width: 100%;
    height: 400px;
}

.headerImageBackGround figure{
    position: relative;
}

.headerImageBackGround figure h2 {
    display: inline-block;
    width: 400px;
    height: auto;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    right: 30px;
    background-color: turquoise;
    color: rgb(48, 46, 46);
    font-size: 20px;
    border: 5px solid turquoise;
    border-radius: 3px;
    margin: 5px;
    margin-right: 0px;
    text-align: center;
}

.headerImageBackGround img {
    width: 100%;
    height: 400px;
}

main {
    margin: 10px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    /* margin-left: 30px; */
    /* border: 5px solid gray; */
}

.meAndMyWork {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    height: auto;
}
.leftColumnTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin: 10px;
    border: 0px;
    border-right: 5px solid rgb(21, 21, 100);
}
.leftColumnTitle h3 {
    font-size: 45px;
    color: rgb(21, 21, 100);
}
.rightColumnTitle {
    width: 70%;
}
.work {
    height: auto;
}

.myApplications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    border: 3px solid turquoise;
    width: 46%;
    height: 300px;
    /* min-width: 300px; */
}  
#application1 {
    width: 100%;
    height: 300px;
}
.apps figure {
    position: relative;
}

.apps figure img{
    width: 100%;
    height: 100%;
}
.apps figure h2 {
    position: absolute;
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: turquoise;
    color: rgb(48, 46, 46);
    font-size: 20px;
    border: 5px solid turquoise;
    border-left: 5px;
    margin: 5px;
    margin-left: 0px;
    text-align: center;
}
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - display row and less pixel image  */
@media screen and (max-width: 992px) {
    .myApplications {
        flex-direction: column;
        /* background-color: #8ac4ff; */
    }
    .leftColumnTitle {
        flex-direction: column;
        border-right: 0px;
        border-bottom: 5px solid rgb(21, 21, 100); 
    }
    .meAndMyWork {
        flex-direction: column;
        justify-content: space-around;
    }

    .apps {
        width: 100%;    
    }

  }
  
  /* Large smartPhones - display column and large pixel image  */
  @media screen and (max-width: 768px) {
    .myApplications {
        flex-direction: column;
      /* background-color: #bb8588; */
    }
    .leftColumnTitle {
        flex-direction: column;
        border-right: 0px;
        border-bottom: 5px solid rgb(21, 21, 100);
    }
    .meAndMyWork {
        flex-direction: column;
        justify-content: space-around;
    }
    .apps {
        width: 100%;
  }
}

  /* Small smartphones  - display column and less pixel image */
@media screen and (max-width: 576px) {
    .myApplications {
        flex-direction: column;
      /* background-color: #8ac4ff; */
    }
    
    .leftColumnTitle {
        flex-direction: column;
        border-right: 0px;
        border-bottom: 5px solid rgb(21, 21, 100);
    }
    .meAndMyWork {
        flex-direction: column;
        justify-content: space-around;
    }
    .apps {
        width: 100%;    
    }
  }

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
/* .myApplications:hover, */
.apps:hover{
  box-shadow: inset 0px 0px 8px var(--bright-turquoise), 0 0 15px var(--bright-turquoise);
}

.apps img:hover {
    /* box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope); */
    opacity: 0.5;

}

.contactMeContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contactMeContent nav {
    display: block;
    border: 5px solid white;
    width: 100%;
}
.contactMe nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.contactMe li {
    display: inline-block;
    border: 3px solid white;
    /* border-bottom: 3px solid rgb(21, 21, 100); */
  }

  
.contactMe li a {
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 0px 20px;
    border-bottom: 3px solid rgb(21, 21, 100);
  }
